{% extends 'mainapp/basic.html' %}

{% block head %}
    <meta http-equiv="Refresh" content="5; url='{% url 'home' %}'" />
    <link href="/static/mainapp/css/404.css" rel="stylesheet">
{% endblock head %}

{% block title %} 404 - Not Found {% endblock title %}

{% block body %}
<section class="page_404">
    <div class="container">
        <div class="row">	
            <div class="col-sm-12 ">
                <div class="col-sm-10 col-sm-offset-1  text-center">
                    <div class="four_zero_four_bg">
                        <h1 class="text-center ">404</h1>
                    </div>
                    <div class="contant_box_404">
                        <h3 class="h2">
                            Você parece perdido,
                        </h3>
                        <p>a pagina que procura não está disponível!</p>
                        <p class="link_404">Estou te redirecionando para <a href="{% url 'home' %}">home</a> em 5 segundos...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
