<!--
    basic_delete.html é a pagina para apagar itens da database.
    É usada para apagar mensagens, salas, ativos da carteira e alertas.
-->

{% extends 'mainapp/basic.html' %}

{% block title %}
StocksWatch - DELETE
{% endblock title %}

{% block body %}
    <form class="container" method="POST" action="">
        {% csrf_token %}
        <!-- cita objeto a ser apagado -->
        <p class="lil-space">
            Realmente APAGAR "{{ obj }}"?
        </p>
        <!-- bota para confirmar o delete -->
        <a class="btn btn-primary" href="{{ request.META.HTTP_REFERER }}">voltar</a>
        <input class="btn btn-danger" type="submit" value="Confirmar" />
    </form>
{% endblock body %}