<!--
  basic_navbar.html é a NavBar padrão que acompanha o usuario por todas as paginas do site.
  Contem os menus para acesso ao site para usuarios logados, alem de uma caixa de procura para cotacoes
  Para usuarios nao logados possui apenas um botao para logar/registrar.
-->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- titulo da pagina no navbar com link para home -->
    
    <a href="/" class="navbar-brand">
      <img src="{%  static 'mainapp/images/favicon.ico' %}" width="24px">
      StocksWatch</a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- apenas para usuarios logados -->
        {% if request.user.is_authenticated %}
        <!-- dropdown de mercados -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
              role="button" data-bs-toggle="dropdown"
              aria-expanded="false">Mercado</a>
            <!-- opcoes do dropdown de mercados -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'stockpicker' 'IBOV' %}">IBOV</a></li>
              <li><a class="dropdown-item" href="{% url 'stockpicker' 'IFIX' %}">IFIX</a></li>
            </ul>
          </li>
          <!-- link para FORUM -->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/forum">Forum</a>
          </li>
          <!-- link para ALERTAS -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'alerts' %}">Alertas</a>
          </li>
          <!-- link para PROFILE (mudei para nome do user)-->
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'user-profile' request.user.id %}">Profile</a>
          </li> -->
          <!-- link para CARTEIRA -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'carteira' %}">Carteira</a>
          </li>
           <!-- link para PROFILE -->
          <li class="nav-link text-capitalize">Olá, 
            <a class="nav-username"
                href="{% url 'user-profile' request.user.id %}">
                  {{ request.user }}</a>!</li>
          <!-- link para SAIR (deslogar da conta) para usuarios logados -->
          <a class="nav-link" href="{% url 'logout' %}">Sair</a>
        {% else %}
          <!-- link para ENTRAR (logar na conta) para usuarios deslogados-->
          <a class="nav-link" href="{% url 'login' %}">Entrar</a>
        {% endif %}
      </ul>

      {% if request.user.is_authenticated %}
      <!-- LIGHT/DARK BUTTON -->
      <div class="form-check form-switch ms-auto mt-1 me-3">
        <input class="form-check-input" type="checkbox" id="lightSwitch" />
        <label class="form-check-label" for="lightSwitch">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-brightness-high"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
            />
          </svg>
        </label>
      </div>

      <!-- NAV SEARCH BAR -->
      <form class="d-flex" role="search" action="/stocktracker">
        <!-- caixa de busca -->
        <input onkeyup="this.value = this.value.toUpperCase();" class="form-control me-2" type="search"
          placeholder="B3SA3" aria-label="Search" name="stockpicker">
          <!-- botao de busca -->
        <button class="btn btn-outline-success" type="submit">Procurar</button>
      </form>
      {% endif %}
    </div>
  </div>
</nav>

