<!--
  home.html é a landing page contendo informacoes sobre o conteudo do site
-->
{% extends 'mainapp/basic.html' %}
{% load static %}

{% block title %}
Stonks! - Home
{% endblock title %}

{% block body %}

<div class="container home-container">


  <!-- titulo principal da pagina -->
    <div class="row row-cols-3 row-cols-md-3 home-row">
      <div class="col home-col">
      <h1 class="home-title">Control the flow</h1>
      </div>
      <div class="col">
      <lottie-player src="{% static 'mainapp/images/logo.json' %}"  background="transparent"  speed="1" loop  autoplay></lottie-player>
      </div>
    </div>

<br>

<!-- block acordeon com as informacoes do site -->
<div class="accordion" id="accordionFlushExample">
    <!-- primeiro botao do acordeon -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          About
        </button>
      </h2>
      <!-- texto do primeiro botao -->
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Stonks! was built to help you in the stock market. It includes utilities to balance your portfolio and generate alerts for asset prices.</div>
      </div>
    </div>
    <!-- segundo botao do acordeon -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Forum
        </button>
      </h2>
      <!-- texto do segundo botao -->
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Discuss with other investors or share investment strategies.</div>
      </div>
    </div>
    <!-- terceiro botao do acordeon -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Markets
        </button>
      </h2>
      <!-- texto do terceiro botao -->
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Choose a market to search for quotes in real time and also see historical charts.</div>
      </div>
    </div>
    <!-- quarto botao do acordeon -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Wallet
        </button>
      </h2>
      <!-- texto do quarto botao -->
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Add assets to your wallet and keep your investments balanced with tips to buy and sell!</div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'mainapp/js/lottie-player.js' %}" type="text/javascript" nonce="rAnd0m123"></script>
{% endblock body %}