<!--
    carteira_form é a pagina de criacao de novos ativos para serem adicionados
    na pagina CARTEIRA, onde o usuario acompanha e balanceia seu patrimonio.
-->

{% extends 'mainapp/basic.html' %}

{% block title %}
StocksWatch - Carteira
{% endblock title %}}

{% block body %}
<div class="container lil-space">
    <form class="form-control" method="POST" action="">
        {% csrf_token %}

        {{carteira_form.as_p}}

        <input type="submit" value="Atualizar" />
    </form>
</div>
{% endblock body %}