* {
  transition: All 0.25s linear;
}
/*-----------------------COLOR SWITCHER: */
.red { color: red; }
.green { color: green; }
.darkgreen { color: darkgreen; }
.brown { color: brown; }

.nav-username{
  text-decoration:none;
  color:darkcyan;
}
.lil-space{
  margin-top: 20px
}
/*-------------------------------------------------HOME : */
.home-container{
  margin-top:4vmax;
}
.home-row{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.home-col{
  text-align:right;
  margin-top:160px
}
.home-title{
  text-shadow: gray 2px 2px 3px;
}
.accordion-item{
  border-radius:4px;
}

/*----------------------------------------------- BUTTONS: */
.btn-outline-primary{
  border: 1px solid gray;
  box-shadow: black 1px 3px 6px;
}
.btn-secondary,
.btn-outline-warning{
  margin: 3px;
  box-shadow: black 1px 3px 3px;
}
.btn:hover{
  transform: scale(1.015);
}

/*------------------------------------------------CARDS: */
.card-wrapper:hover {
    transform: scale(1.04);
}
.card-box{
  border: 1px solid gray;
  box-shadow: black 1px 3px 6px;
}
.card-box a{
  margin: 3px;
  box-shadow: black 1px 2px 3px;
}
.card-footer a {
  --bs-btn-padding-y: .15rem;
  --bs-btn-padding-x: .2rem;
  --bs-btn-font-size: .75rem;
}

/*--------------------------------------------------------------PAGES: */
/*--------------------------------COMPONENT TITLES: */
.active-title{
  text-shadow: gray 1px 2px 2px;
}

/*---------------------------------PAGE CONTAINER: */
.profile-container,
.forums-container,
.alerts-container{
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  padding: 5px;
}

/*--------------------------------COMPONENTS WRAPPER*/
.profile_title,
.feed_component,
.topics_component,
.alert_component,
.mercado_component,
.activity_component{
    padding: 5px;
    text-align: center;
    position: relative;
}

/*------------------------------INPUT FORMS: */
.form-control{
  border: 1px solid gray;
}
.form-control label{
  color:gray;
}
/*-------------------------------CHAT ROOM: */
.room-container{
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 4px;
}
.msgdel-btn{
  --bs-btn-font-size: .55rem;
  margin: 3px;
}
.card-participants li{
  background-color: whitesmoke;
}
.input-group-text{
  border: none;
}
/*----------------------------TABLES: */
.container-xxl{
  margin-bottom: 20px;
  font-size: 12px;
}
#carteira-graphs-wrapper{
  display: block;
  overflow-x: auto;
  align-content: center;
  width: 100%;
}
.carteira-graphs{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

/*-----------------------------GRAPHS: */
.graph-container{
  display: block;
  overflow-x: auto;
  align-content: center;
  width: 100%;
}
.thegraph{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/*------------------------------------------------FOOTER: */
.footer {
  position:fixed;
  bottom:0;
  width:100%;
  text-align:center;
  height:20px;
  font-family: Arial;
  font-size: small;
  color: gray;
}
.footer a {
  text-decoration:none;
  color: gray;
}
.footer a:hover {
  color: darkcyan;
}


/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------------RESPONSIVE----------------------------------------*/
/*--------------------------------------------------------------1080px--------IPAD HORIZ--------*/

@media (max-width: 1080px){
  /*---------------------------------PAGE CONTAINER: */
  .profile-container,
  .forums-container,
  .alerts-container{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    padding: 0px;
  }
  table {
    display: block;
    overflow-x: auto;
    width: 100%;
    font-size: 12px;
  }
  table thead,
  table tbody {
    display: table;
    width: auto;
  }
  th{
    min-width: 82px;
    max-width: 100px;
  } 
  td{
    min-width: 100px;
  }
}


/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------------RESPONSIVE----------------------------------------*/
/*--------------------------------------------------------------950px--------IPAD VERTICAL------*/

@media (max-width: 950px){
  /*-------------------------------------------------HOME : */
  .home-container{
    margin-top:10vmax;
    display: flex;
    flex-direction: column;
  }
  .home-row{
    display:flex;
    flex-direction:column;
    position: relative;
    align-items: center;
    transform: translateX(-15%);
  }
  .home-col{
    margin-top:0px
  }
  .home-title{
    font-size: 0;
    visibility: hidden;
  }
  lottie-player{
    width: 400px;
    height: 400px;
    margin-bottom: 5vmax;

  }

  /*---------------------------------PAGE CONTAINER: */
  .profile-container,
  .forums-container,
  .alerts-container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
  }
  /*--------------------------------COMPONENTS WRAPPER*/
  .topics_component{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .activity_component{
    display: flex;
    flex-flow: column;
  }

  /*--------------------------------COMPONENT TITLES: */
  .active-title{
    font-size: 25px;
  }
  /*-------------------------------CHAT ROOM: */
  .room-container{
    display: flex;
    flex-direction: column;
  }
  .card-participants{
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    width: 90%;
    font-size: small;
  }
  .card-participants h5{
    margin: 0;
    padding: 0;
    font-size: x-small;
  }
  .card-participants .card{
    display: flex;
    flex-direction: row;
    border: none;
    padding-right: 70%;
    margin: 1px;
  }
  /*--------------------------TABELAS: */
  table {
    display: block;
    overflow-x: auto;
    width: 100%;
    font-size: 12px;
  }
  table thead,
  table tbody {
    display: table;
    width: auto;
  }
  th{
    min-width: 82px;
  } 
  td{
    min-width: 100px;
  }
  /*------------------------------------------------FOOTER: */
  .footer {
    font-size: 12px;
  }
}


/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------------RESPONSIVE----------------------------------------*/
/*--------------------------------------------------------------700px---------------------------*/

@media (max-width: 700px){
  /*-------------------------------------------------HOME : */
  .home-container{
    margin-top:10vmax;
    display: flex;
    flex-direction: column;
  }
  .home-row{
    display:flex;
    flex-direction:column;
    position: relative;
    align-items: center;
    transform: translateX(-15%);
  }
  .home-col{
    margin-top:0px
  }
  .home-title{
    font-size: 0;
    visibility: hidden;
  }
  lottie-player{
    position: relative;
    width: 250px;
    height: 250px;
  }

  /*---------------------------------PAGE CONTAINER: */
  .profile-container,
  .forums-container,
  .alerts-container{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  /*--------------------------------COMPONENTS WRAPPER*/
  .topics_component{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
  /*--------------------------------COMPONENT TITLES: */
  .active-title{
    font-size: 0px;
  }
  /*-------------------------------CHAT ROOM: */
  .room-container{
    display: flex;
    flex-direction: column;
  }
  .card-participants{
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
    width: 90%;
    font-size: small;
  }
  .card-participants h5{
    margin: 0;
    padding: 0;
    font-size: x-small;
  }
  .card-participants .card{
    display: flex;
    flex-direction: row;
    border: none;
    padding-right: 70%;
    margin: 1px;
  }
  /*--------------------------TABELAS: */
  #tabela{
    font-size: 12px;
  }
  /*------------------------------------------------FOOTER: */
  .footer {
    font-size: 9px;
  }
}