<!--
    activity_component.html é usado como um componente nas paginas FORUM, ALERTAS e PROFILE
    como uma forma de demonstrar a atividade recente referente ao usuário (alerta e profile)
    e atividade geral da pagina em FORUM (posts de outros usuarios)
-->

<!-- esconde titulo de mensagens na pagina de alertas e vice versa -->
{% if alerta and not room_messages %}
<h3 class="active-title">Recentes</h3>
{% else %}
<h3 class="active-title">Atividade</h3>
{% endif %}
<br>

<!--
    Pega todas as mensagens existentes na database e mostra para o usuario.
    Sendo suas proprias mensagens com opcoe de apagar e a de outros usuarios, visualizar.
-->
<!-- MENSAGENS (atividade recente) -->
<div class="container">
    {% for message in room_messages %}
    <div class="col card-wrapper">
        <div class="card bg-light card-box">
            <!-- tempo desde a mensagem -->
            <small>({{ message.created|timesince }} ago)</small>

            <!-- sala da mensagem enviada -->
            <a class="btn btn-primary btn-sm"
                href="{% url 'room' message.room.id %}">{{ message.room }}</a>

            <!-- mensagem enviada -->
            <small>"{{ message }}"</small>
            
            <div class="card-footer">
            <!-- esconde link para profile para dono da mensagem -->
            {% if request.user != message.user %}
            <a class="btn btn-outline-secondary btn-sm" 
                href="{% url 'user-profile' message.user.id %}">@{{ message.user }}</a>
            {% endif %}

            <!-- adiciona botao de apagar para dono da mensagem -->
            {% if request.user == message.user %}
                <a class="btn btn-outline-danger btn-sm" 
                    href="{% url 'delete-message' message.id %}">Apagar</a>
            {% endif %}
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
</div>


<!--
    Pega todas alertas existentes na database e mostra para o usuario apenas
    os alertas de sua autoria, com opções de editar e apagar tal alerta.
-->
<!-- ALERTAS (alertas recentes) -->
<div class="container">
    {% for alerta in alertas %}
    <!-- mostra apenas alertas do usuario logado -->
    {% if request.user == alerta.host %}
    <div class="col card-wrapper">
        <div class="card bg-light card-box">
            <!-- nome do alerta (modal) -->
            <a id="input" type="button" data-bs-toggle="modal" data-bs-target="#modal{{alerta}}" class="btn btn-primary card-title">{{alerta}}</a>
            <!-- mercado dono do alerta -->
            <small>{{ alerta.mercado }}</small>
            <!-- tempo desde a criacao -->
            <small>{{ alerta.created|timesince }} ago</small>
            <!-- data da criacao -->
            <small>{{ alerta.created }}</small>
            <!-- botao editar alerta -->
            <div class="card-footer">
            <a class="btn btn-warning btn-sm" 
                href="{% url 'update-alert' alerta.id %}">Editar</a>
            <!-- botao apagar alerta -->
            <a class="btn btn-outline-danger btn-sm" 
                href="{% url 'delete-alert' alerta.id %}">Apagar</a>
            </div>
        </div>
    </div>

    <!-- MODAL -->
    <div id="modal{{alerta}}" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <ul class="list-group list-group-flush">
                    <div class="modal-header">
                        <li class="list-group-item">{{ alerta.mercado }} - {{ alerta.ativo }}</li>
                    </div>
                    <div class="modal-body">
                        <li class="list-group-item">Compra: R${{ alerta.compra }}</li>
                        <li class="list-group-item">Venda:  R${{ alerta.venda }}</li>
                        <li class="list-group-item">Busca:    {{ alerta.periodo }}min(s)</li>
                        <li class="list-group-item">Duração:  {{ alerta.duracao }}dia(s)</li>
                        <li class="list-group-item">Alertar:  {{ alerta.email }}</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <br>
    {% endif %}
    {% endfor %}
</div>
