<!--
    feed_component.html lista todas as salas de bate-papo disponiveis e o numero de salas na pagina FORUM.
    Quando inserido na pagina PROFILE, mostra apenas as salas de tal usuario (proprio ou outros)
    Adiciona um botão para criação de novas salas.
-->

{% if request.user == user %}
<div class="container">
    <h3 class="active-title">Salas</h3>
    <br>
    <!-- mostra apenas numero de salas quando na pagina do forum -->
    {% if room_count %}
    <h5>{{ room_count }} sala(s) disponíveis</h5>
    {% endif %}
    <!-- botao para criar nova sala -->
    <a class="btn btn-outline-primary btn-sm d-grid gap-2"
        href="{% url 'create-room' %}">Criar Sala</a>
</div>
<br>
{% endif %}

<!--
    Itera por todas as SALAS disponiveis na database e as exibe na pagina FORUM para qualquer usuario.
    Adiciona botoes para editar e apagar salas para o dono das salas.
    Adiciona o nome do dono da sala para as salas de outros usuarios.
-->
<!-- salas -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for room in rooms %}
        <div class="col card-wrapper">
            <div class="card bg-light card-box">
                <div class="card-body">
                    <!-- nome da sala -->
                    <a class="btn btn-primary d-grip gap-2 card-title" href="{% url 'room' room.id %}">{{room.name}}</a> 
                    <!-- topico -->
                    <p class="card-text">{{room.topic.name}}</p>
                    <!-- data de criacao/modificacao -->
                    <small>{{room.updated}}</small>
                </div>
                    <!-- botoes -->
                    <div class="card-footer">
                        <!-- adiciona botoes editar/apagar apenas para usuario dono da sala -->
                        {% if request.user == room.host %}
                            <a class="btn btn-warning btn-sm" 
                                href="{% url 'update-room' room.id %}">Editar</a>
                            <a class="btn btn-outline-danger btn-sm" 
                                href="{% url 'delete-room' room.id %}">Apagar</a>
                        {% endif %}
                        <!-- link para o profile do usuario dono da sala -->
                        {% if request.user != room.host %}
                        <a class="btn btn-outline-secondary btn-sm" 
                            href="{% url 'user-profile' room.host.id %}">
                            @{{room.host.username}}
                        </a>
                        {% endif %}
                    </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
