<!--
    topics_component.html é um componente das paginas FORUM e PROFILE
    que lista os filtros de mensagens por topico e alertas por mercado
-->

<h3 class="active-title">Tópicos</h3>
<br>

<!-- link para a pagina FORUM (todos as salas)-->
<div>
    <a class="btn btn-outline-warning btn-sm d-grid gap-2" 
        href="{% url 'forum' %}">Salas</a>
</div>

<!--
    Itera por todos os topicos disponiveis para serem filtrados e ao clicar
    leva o usuario para a pagina forum com o filtro aplicado por topico
-->
{% for topic in topics %}
<div>
    <a class="btn btn-secondary btn-sm d-grid gap-2" 
        href="{% url 'forum' %}?q={{ topic.name }}">{{ topic.name }}</a>
</div>
{% endfor %}


<!-- link para a pagina ALERTAS (todos os alertas pessoais)-->
<div>
    <a class="btn btn-outline-warning btn-sm d-grid gap-2" 
        href="{% url 'alerts' %}">Alertas</a>
</div>

<!--
    Itera por todos os mercados para usar de filtro ao clicar.
    Leva o usuario para a pagina Alertas com o filtro aplicado por mercado.
-->
{% for mercado in mercado %}
<div>
    <a class="btn btn-secondary btn-sm d-grid gap-2" 
        href="{% url 'alerts' %}?q={{ mercado }}">{{ mercado.name }}</a>
</div>
{% endfor %}