<!--
    alerts_component.html é a coluna central da pagina ALERTAS, que lista os alertas existentes
    do usuario logado. Também é um componente da pagina PROFILE quando acessada pelo proprio usuario ativo.
-->


<!-- titulo do componente -->
<div class="container">
    <h3 class="active-title">Alertas</h3>
    <br>
    <!-- botao para criar um novo alerta -->
    <a class="btn btn-outline-primary btn-sm d-grid gap-2" 
    href="{% url 'create-alert' %}">Criar Alerta</a>
</div>

<br>

<!--
    Itera por todos os alertas, separando apenas os alertas do usuario logado (privacidade)
    e os exibe em "cards" na pagina ALERTAS e na pagina PROFILE quando acessada pelo proprio usuario ativo.
-->
<div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4 ">
        {% for alerta in alertas %}
        <!-- mostra apenas alertas do usuario logado -->
        {% if request.user == alerta.host %}

        <div class="col card-wrapper">
            <div class="card bg-light card-box">
                <div class="card-body">
                    <!-- nome do alerta (ticker) com link para MODAL -->
                    <a id="input" type="button" data-bs-toggle="modal" data-bs-target="#modal{{alerta}}" class="btn btn-primary card-title">{{alerta}}</a>
                    <!-- mercado dono do ativo do alerta -->
                    <p class="card-text">{{alerta.mercado}}</p>
                    <!--  tempo desde a criacao/update do alerta -->
                    <small>{{alerta.updated}}</small>
                </div>
                    <div class="card-footer">
                        <!-- botao para EDITAR alerta -->
                        <a class="btn btn-warning btn-sm" href="{% url 'update-alert' alerta.id %}">Editar</a>
                        <!-- botao para APAGAR alerta -->
                        <a class="btn btn-outline-danger btn-sm" href="{% url 'delete-alert' alerta.id %}">Apagar</a>
                    </div>
                
            </div>
        </div>
        <!-- MODAL -->
        <div id="modal{{alerta}}" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <ul class="list-group list-group-flush">
                        <div class="modal-header">
                            <li class="list-group-item">{{ alerta.mercado }} - {{ alerta.ativo }}</li>
                        </div>
                        <div class="modal-body">
                            <li class="list-group-item">Compra: R${{ alerta.compra }}</li>
                            <li class="list-group-item">Venda:  R${{ alerta.venda }}</li>
                            <li class="list-group-item">Busca:    {{ alerta.periodo }}min(s)</li>
                            <li class="list-group-item">Duração:  {{ alerta.duracao }}dia(s)</li>
                            <li class="list-group-item">Alertar:  {{ alerta.email }}</li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        
        {% endif %}
        {% endfor %}
    </div>
</div>

