<!--
    forum.html é a pagina onde o usuario pode ver todas as salas de conversa disponiveis.
    Inclui filtro por topicos (topics_component) e atividade recente (activity_component)
-->

{% extends 'mainapp/basic.html' %}

{% block title %}
StocksWatch - Forum
{% endblock title %}


{% block body %}
<div class="forums-container">
    <!-- coluna da esquerda -->
    <div class="topics_component">
        {% include 'mainapp/component/topics_component.html' %}
    </div>
    <!-- centro da pagina -->
    <div class="feed_component d-grid gap-2 d-md-block">
        {% include 'mainapp/component/feed_component.html' %}
    </div>
    <!-- coluna da direita -->
    <div class="activity_component">
        {% include 'mainapp/component/activity_component.html' %}
    </div>
</div>
{% endblock body %}