<!--
    room.html é a pagina onde o usuario visualiza o conteudo de uma sala especifica
    tendo a oportunidade de deixar uma mensagem ou apagar mensagens antigas, alem de
    visualizar as mensagens de outros usuarios que participam de tal sala.
-->

{% extends 'mainapp/basic.html' %}

{% block title %}
StocksWatch - Sala
{% endblock title %}


<!--
    Itera por todas as mensagens que existem dentro de uma sala particular e 
    as exibe para o usuario, com a opcao de deletar suas proprias mensagens.
-->
{% block body %}
<div class="room-container">
    <div class="container">
        <!-- titulo do post -->
        <h2>{{ room.name }}</h2>
        <!-- conteudo do post -->
        <div class="container">
            <p class="message">{{ room.description }}</p>
        </div>
        <!-- area de comentarios -->
        <div class="comment-wrapper">
            <big>Comentários</big>
            
            <div class="card">
            {% for message in room_messages %}
                <ul class="card-body list-group list-group-flush">
                    <li class="list-group-item">
                        <!-- usuario e tempo desde criacao da mensagem -->
                        <small class="card-title">@{{ message.user }} ({{ message.created|timesince }} ago)</small>
                        <!-- DELETE apenas para dono da mensagem -->
                        {% if request.user == message.user %}
                            <a  class="btn btn-outline-danger btn-sm msgdel-btn"
                                href="{% url 'delete-message' message.id %}">Delete</a>
                        {% endif %}
                        <!-- corpo da mensagem -->
                        <p class="card-text">{{ message.body }}</p>
                    </li>
                </ul>
            {% endfor %}
            </div>
        </div>

        <!-- caixa de mensagens -->
        {% if request.user.is_authenticated %}
        <div class="input-group input-group-sm mb-3">
            <form class="input-group-text bg-light" method="POST" action="">
                {% csrf_token %}
                <input class="form-control bg-light" type="text" name="body" placeholder="mensagem..." />
            </form>
        </div>
        {% endif %}

    </div>

<!--
    Itera por todos os participantes de tal sala e exibe o nome do autor de tais mensagens
-->
    <!-- participantes -->
    <div class="container card-participants">
        
        <h5>Participantes</h5>
        <br>
        <div class="card">
            {% for user in participants %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@{{ user.username }}</li>
                </ul>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}