<!--
    alerts.html é a pagina ALERTAS, que inclui filtro por topicos (mercado_component),
    a listagem de alertas (alerts_component) e atividade recente (activity_component)
-->

{% extends 'mainapp/basic.html' %}

{% block title %}
StocksWatch - Alertas
{% endblock title %}


{% block body %}
<!-- left bar -->
<div class="alerts-container">
    <div class="mercado_component">
        {% include 'mainapp/component/mercado_component.html' %}
    </div>
<!-- center -->
    <div class="alert_component">
        {% include 'mainapp/component/alerts_component.html' %}
    </div>
<!-- right bar -->
    <div class="activity_component">
        {% include 'mainapp/component/activity_component.html' %}
    </div>
</div>
{% endblock body %}