<!--
    carteira.html é a pagina CARTEIRA, onde o usuario adiciona ativos para acompanhar o
    desempenho do mercado. Usando o peso/nota o usuario pode tambem balancear seu patrimonio
    com dicas apresentadas pela tabela.
-->

{% extends 'mainapp/basic.html' %}
{% load static %}


{%block head%}
<!-- jquery datatables CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/jquery.dataTables.css' %}">
{%endblock head%}


{% block title %}
{% load myfilters %}
StocksWatch - Carteira
{% endblock title %}

<!--
    Formatação da tabela da carteira do usuario em indices
-->
{% block body %}
<div class="container-xxl">
    <br>
    <h3>Carteira</h3>

    <table class="table-responsive">
        <table id="tabela" class="table table-hover">
            <thead class="table-light">
                <tr>
                    <!-- titulos da tabela -->
                    <th scope="col">Nota</th>
                    <th scope="col">Ativo</th>
                    <th scope="col">Preço</th>
                    <th scope="col">P.M.</th>
                    <th scope="col">Qnt</th>
                    <th scope="col">Total</th>
                    <th scope="col">Quero%</th>
                    <th scope="col">Tenho%</th>
                    <th scope="col">Quero$</th>
                    <th scope="col">Falta$</th>
                    <th scope="col">Ordem</th>
                    <th scope="col">Vol</th>
                    <th scope="col">Fch</th>
                    <th scope="col">Dia</th>
                    <th scope="col">52Week</th>
                    <th scope="col">R.M.</th>
                    <th scope="col">Ações</th>
                    <th scope="col">Histórico</th>
                </tr>
            </thead>
            <!--
    Preenche os dados da carteira com cotacao online e expressoes que balanceam 
    a carteira de acordo com variaveis como nota/peso e patrimonio
-->
            <tbody>
                <!-- preenchendo dados na tabela -->
                {% for key, value in data.items %}
                <tr>
                    <th id='{{key}}_nota' scope="row">{{key.nota}}</th> <!-- Nota/peso -->
                    <td id='{{key}}_ativo'>{{key}}</td> <!-- ativo/ticker -->

                    <td id='{{key}}_preco'>{{ value|get:'Quote Price'|floatformat:2 }}</td> <!-- preco online -->

                    <td id='{{key}}_pm'>{{key.preco_medio}}</td> <!-- preco medio -->

                    <td id='{{key}}_qnt'>{{key.quantidade}}</td> <!-- qnt de papeis na carteira -->

                    <td id='{{key}}_total'>
                        <!-- Total do ativo na carteira = Quantidade * preco de mercado -->
                        <script>
                            result = document.getElementById('{{key}}_qnt').innerHTML *
                                document.getElementById('{{key}}_preco').innerHTML;

                            document.getElementById('{{key}}_total').innerHTML = result.toFixed(2);
                        </script>
                    </td>

                    <td id='{{key}}_quero'></td> <!--  QUERO % (nota/sum(notas)%)  -->
                    <td id='{{key}}_tenho'></td> <!--  TENHO % (total/totais)  -->

                    <td id='{{key}}_quero_din'></td> <!--  QUERO $ patrimonio * quero%  -->
                    <td id='{{key}}_falta_din'></td> <!--  FALTA $ quero_din - total -->

                    <td id='{{key}}_ordem'></td> <!--  ORDEM (comprar/vender)  -->
                    <td id='{{key}}_vol'></td> <!--  VOLUME para comprar/vender = falta / preco-->

                    <td id='{{key}}_fechamento'>{{ value|get:'Previous Close'|floatformat:2 }}</td> <!-- fechamento -->

                    <td id="{{key}}_change">
                        <!-- intradia -->
                        <script>
                            // calcula intradia de acordo com preco - fechamento
                            var change = document.getElementById("{{key}}_preco").innerHTML -
                                document.getElementById("{{key}}_fechamento").innerHTML;

                            change = Number((change).toFixed(4));
                            // muda a cor de intradia de acordo com positivo ou negativo
                            if (change >= 0) { document.getElementById("{{key}}_change").className = "green"; }
                            if (change < 0) { document.getElementById("{{key}}_change").className = "red"; }

                            document.getElementById("{{key}}_change").innerHTML = change;
                        </script>
                    </td>

                    <td id='{{key}}_fiftytwo'>{{ value|get:'52 Week Range'}}</td> <!-- 52 week range -->

                    <td id='{{key}}_rm'>
                        <!-- Remuneracao do ativo de acordo com preco medio -->
                        <script>
                            //calcula remuneracao -> total do ativo na carteira / quantidade de papeis * preco medio
                            result = (document.getElementById('{{key}}_total').innerHTML /
                                (document.getElementById('{{key}}_qnt').innerHTML *
                                    document.getElementById('{{key}}_pm').innerHTML)
                            ) - 1;
                            // muda a cor de remuneracao do ativo de acordo com positivo ou negativo
                            if (result >= 0) { document.getElementById("{{key}}_rm").className = "green"; }
                            if (result < 0) { document.getElementById("{{key}}_rm").className = "red"; }

                            document.getElementById('{{key}}_rm').innerHTML = (result * 100).toFixed(2) + '%';
                        </script>
                    </td>

                    <td>
                        <!-- botoes de manipulacao de ativos da carteira - editar/excluir -->
                        <a class="btn btn-warning btn-sm"
                            href="{% url 'update-carteira' key.id %}">E</a>

                        <a class="btn btn-danger btn-sm"
                            href="{% url 'delete-carteira' key.id %}">X</a>
                    </td>

                    <td>
                        <!-- botao para historico em graficos -->
                        <form action='graph'>
                            <button class="btn btn-primary btn-sm"
                                name='ticker' value={{key}} type="submit">Gráfico</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}

                <!--
    Calcula as espressoes necessarias para calculos de balanceamento de carteira apos os dados da tabela
    serem inseridos em sua totalidade para assim poder calcular totais e patrimonio e as outras expressoes
    que dependem desses valores.
-->
                <!-- manipulacao dos dados de balanceamento -->
                <script>
                    // soma todas as notas/peso dos ativos e o total de todos os ativos na carteira
                    var notas = 0;
                    var totais = 0;
                    {% for key, value in data.items %}
                    var nota = document.getElementById('{{key}}_nota').innerHTML;
                    var total = document.getElementById('{{key}}_total').innerHTML;
                    notas += parseFloat(nota);
                    totais += parseFloat(total);
                    {% endfor %}

                    // QUERO E TENHO EM PORCENTAGEM: notas/notas, tenho/total * rebarba
                    {% for key, value in data.items %}
                    // QUERO em %:
                    document.getElementById('{{key}}_quero').innerHTML = ((parseFloat(document.getElementById('{{key}}_nota').innerHTML) / notas) * 100
                    ).toFixed(2) + '%';

                    // TENHO em %: Baseado em 40% a mais de patrimonio na carteira para recomendacao dar certo
                    document.getElementById('{{key}}_tenho').innerHTML = ((parseFloat(document.getElementById('{{key}}_total').innerHTML) / totais) * 40
                    ).toFixed(2) + '%';

                    if (document.getElementById('{{key}}_quero').innerHTML < document.getElementById('{{key}}_tenho').innerHTML) {
                        document.getElementById('{{key}}_tenho').className = "green";
                    }
                    if (document.getElementById('{{key}}_quero').innerHTML > document.getElementById('{{key}}_tenho').innerHTML) {
                        document.getElementById('{{key}}_tenho').className = "red";
                    }
                    {% endfor %}

                    // ordem de compra e venda baseado em quero% tenho%
                    {% for key, value in data.items %}
                    var quero = parseFloat(document.getElementById('{{key}}_quero').innerHTML);
                    var tenho = parseFloat(document.getElementById('{{key}}_tenho').innerHTML);
                    if (quero > tenho) { //quero mais do que tenho
                        document.getElementById('{{key}}_ordem').className = "green";
                        document.getElementById('{{key}}_ordem').innerHTML = 'Comprar';
                    }
                    if (quero < tenho) { //tenho mais do que quero
                        document.getElementById('{{key}}_ordem').className = "orange";
                        document.getElementById('{{key}}_ordem').innerHTML = 'Aguardar';
                    }
                    {% endfor %}

                    // cor do preco medio/total em relacao ao preco atual
                    {% for key, value in data.items %}
                    var pm = parseFloat(document.getElementById('{{key}}_pm').innerHTML);
                    var preco = parseFloat(document.getElementById('{{key}}_preco').innerHTML);

                    if (pm <= preco) {  // preco medio maior que preco atual
                        document.getElementById('{{key}}_pm').className = "green";
                        document.getElementById('{{key}}_total').className = "green";
                    }
                    else {  // preco medio menor que preco atual
                        document.getElementById('{{key}}_pm').className = "red";
                        document.getElementById('{{key}}_total').className = "red";
                        document.getElementById('{{key}}_ativo').className = "brown";
                    }
                    {% endfor %}
                </script>
            </tbody>
        </table>
    </table>
    <!-- botao para adicionar um novo ativo na carteira -->
    <a class="btn btn-primary btn-sm d-grid gap-2" href="{% url 'create-carteira' %}">Adicionar Novo Ativo</a>
    <br>
    <!--
    Area abaixo da tabela que indica o patrimonio total do usuario.
    Este numero é usado para calcular algumas expressoes usadas para o 
    balanceamento da carteira, como a quantidade de dinheiro que falta em
    cada ativo e o nomero de papeis necessarios para compra ou venda.
-->
    <!-- totais e balanço da carteira WIP -->
    <div class="accordion accordion-wrapper">
        <div class="accordion-item carteira-graphs-wrapper">
            <h2 class="accordion-header" id="headingOne">
                <!-- botao do acordeon que recebe o valor total da soma da carteira-->
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Patrimonio: R$ <text id='patrimonio'></text></button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse carteira-graphs" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <!-- corpo do acordeon que recebe os graficos -->
                <div class="accordion-body">
                    {{ figure_markets|safe }}
                </div>
                <div class="accordion-body">
                    {{ figure_stocks|safe }}
                </div>
            </div>
        </div>
    </div>

    <script>
        var patrimonio = 0;
        //patrimonio
        {% for key, value in data.items %}
        var valor_por_ativo = document.getElementById('{{key}}_total').innerHTML;
        patrimonio += parseFloat(valor_por_ativo);
        {% endfor %}
        document.getElementById('patrimonio').innerHTML = patrimonio.toFixed(2);

        // quero e falta em dinhero $$ + volume para balancear baseado em nota e patrimonio.
        {% for key, value in data.items %}
        //QUERO EM DINHEIRO: precisa do valor patrimonio para calcular - 40% a mais para balanceamento funcionar
        document.getElementById('{{key}}_quero_din').innerHTML = (patrimonio * (parseFloat(document.getElementById('{{key}}_quero').innerHTML) / 40)
        ).toFixed(2);
        //FALTA EM DINHEIRO: precisa do valor quero_din para calcular
        document.getElementById('{{key}}_falta_din').innerHTML = (document.getElementById('{{key}}_quero_din').innerHTML - document.getElementById('{{key}}_total').innerHTML
        ).toFixed(2);
        //VOLUME DE COMPRA: precisa do valor falta_din para calcular
        document.getElementById('{{key}}_vol').innerHTML = parseInt(
            parseFloat(document.getElementById('{{key}}_falta_din').innerHTML) /
            parseFloat(document.getElementById('{{key}}_preco').innerHTML)
        );
        if (parseFloat(document.getElementById('{{key}}_falta_din').innerHTML) > 0) {
            document.getElementById('{{key}}_falta_din').className = "green";
        }
        else {
            document.getElementById('{{key}}_falta_din').className = "red";
        }
        {% endfor %}
    </script>
</div>

<!--
    Adiciona JQUERY para a tabela acima para utilizacao 
    de filtros por indice e ordenacao da tabela
-->
<!-- jquery JS -->
<script type="text/javascript" src="{% static 'mainapp/js/jquery-3.6.0.min.js' %}"></script>
<!-- jquery datatables JS -->
<script type="text/javascript" charset="utf8" src="{% static 'mainapp/js/jquery.dataTables.js' %}"></script>
<!-- start jquery -->
<script type="text/javascript" src="{% static 'mainapp/js/sort-table.js' %}"></script>

{% endblock body %}