<!--
    graph.html é a pagina acessada ao clicar em "graficos" a partir de alguma tabela de precos.
    Exibe historico completo do ativo em forma de candlestick com possivel interacao de periodos
-->

{% extends 'mainapp/basic.html' %}
{% load static %}

{% block title %}
StocksWatch - Graph
{% endblock title %}


{% block body %}
<div class="container graph-container">
    <center><h2>{{ ticker }}</h2><center>
        
    {% if graph %}
        <div class="thegraph">
        {{ graph|safe }}
        </div>
    {% else %}

        <br><br>
        <p>Ocorreu um erro.</p>

    {% endif %}

</div>
{% endblock body %}