<!--
    stockpicker.html é a pagina MERCADOS onde o usuario, apos escolher um mercado 
    especifico do dropdown menu da navbar, ele é apresentado com todos os tickers 
    de tal mercado onde pode escolher um ou varios para checar a cotacao.
-->

{% extends 'mainapp/basic.html' %}
{% load static %}


{% block title %}
StocksWatch - Picker
{% endblock title %}


{% block body %}
<div class="container bg-light">
    <!-- titulo do mercado escolhido no dropdown -->
    <h3>{{mercado}}</h3>
    <form class="form-control bg-light" action="/stocktracker">
        <label for="stockpicker">Selecione o(s) ativo(s)</label>

        <!-- itera por todos os tickers disponiveis em DB e apresenta ao usuario -->
        <select class="form-select form-select-lg mb-3" size="15" multiple aria-label="multiple select example" name="stockpicker">
        {% for i in stockpicker %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
        </select><br>

        <!-- bota para pesquisar ativo(s) selecionados -->
        <div class="d-grid gap-2">
            <input class="btn btn-primary " type="submit" value="Pesquisar">
        </div>
    </form>
</div>
{% endblock body %}