<!DOCTYPE html>

<!--
  basic.html é o template usado por todas as outras paginas para 
  injetar seu conteudo no bloco TITLE, CSS e BODY
-->

<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootastrap CSS -->
  <link href="{% static 'mainapp/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <!-- static css file -->
  <link href="{% static 'mainapp/css/styles.css' %}" rel="stylesheet" type="text/css">

  {% block head %}{% endblock head %}

  <title>{% block title %} {% endblock title %}</title>
</head>

<body>
  <!-- inclui a NAVBAR em todas as paginas que derivam desta -->
  {% include 'mainapp/basic_navbar.html' %}


  {% block body %}
  {% endblock body %}


  <!-- FOOTER -->
  <footer class="footer">
    <p>Webmaster: <a href="https://tarsogalvao.ddns.net" target="_blank">
        Tarso Galvão</a> - Powered by: Bootstrap JQuery Python Django MySQL</p>
  </footer>
 

  <!-- bootastrap JS -->
  <script type="text/javascript" src="{% static 'mainapp/js/bootstrap.bundle.min.js' %}" nonce="rAnd0m123"></script>
  <!-- light/dark mode switcher -->
  <script type="text/javascript" src="{% static 'mainapp/js/mode_switcher.js' %}" nonce="rAnd0m123"></script>

</body>
</html>