<!--
  home.html é a landing page contendo informacoes sobre o conteudo do site
-->
{% extends 'mainapp/basic.html' %}
{% load static %}

{% block title %}
StocksWatch - Home
{% endblock title %}

{% block body %}

<div class="container home-container">


  <!-- titulo principal da pagina -->
    <div class="row row-cols-3 row-cols-md-3 home-row">
      <div class="col home-col">
      <h1 class="home-title">Venha investir com segurança e conforto!</h1>
      </div>
      <div class="col">
      <lottie-player src="{% static 'mainapp/images/logo.json' %}"  background="transparent"  speed="1" loop  autoplay></lottie-player>
      </div>
    </div>

<br>

<!-- block acordeon com as informacoes do site -->
<div class="accordion" id="accordionFlushExample">
    <!-- primeiro botao do acordeon -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Sobre
        </button>
      </h2>
      <!-- texto do primeiro botao -->
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">StocksWatch é um aplicativo para te auxiliar no mercado acionário. Inclui utilidades para balancear sua carteira e gerar alertas para preços de ativos.</div>
      </div>
    </div>
    <!-- segundo botao do acordeon -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          Forum
        </button>
      </h2>
      <!-- texto do segundo botao -->
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Converse com outros investidores ou compartilhe estratégias de investimento.</div>
      </div>
    </div>
    <!-- terceiro botao do acordeon -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Mercado
        </button>
      </h2>
      <!-- texto do terceiro botao -->
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Escolha um mercado para pesquisar cotações em tempo real e também ver históricos em gráficos interativos.</div>
      </div>
    </div>
    <!-- quarto botao do acordeon -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Carteira
        </button>
      </h2>
      <!-- texto do quarto botao -->
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Adicione ativos à sua carteira e mantenha seus investimentos balanceados com dicas de compra e venda!</div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'mainapp/js/lottie-player.js' %}" type="text/javascript" nonce="rAnd0m123"></script>
{% endblock body %}