<!--
    profile.html é a pagina de PROFILE de cada usuario. É composta por 4 componentes:
    topic, alert, feed e activity, para usuarios vendo seu proprio profile. E apenas
    o FEED para usuarios vendo profile de outros usuarios (privacidade)
-->

{% extends 'mainapp/basic.html' %}

{% block title %}
StocksWatch Profile
{% endblock title %}


{% block body %}
<!-- titulo da pagina com nome do usuario -->
<div class="profile_title bg-light">
    <h2 class="text-capitalize">{{user.username}}'s Profile</h2>
    <hr>
</div>

<div class="profile-container">
<!-- coluna da esquerda: topicos de busca -->
    <div class="topics_component">
        {% if request.user == user %}
            {% include 'mainapp/component/topics_component.html' %}
        {% endif %}
    </div>
<!-- coluna central: alertas e feed para proprio profile, apenas feed para outros profiles -->
    <div class="feed_component d-grid gap-2 d-md-block">
        {% if request.user == user %}
            {% include 'mainapp/component/alerts_component.html' %}
        {% endif %}
        <br>
        
        {% include 'mainapp/component/feed_component.html' %}   
    </div>
<!-- coluna da direita: atividade recente apenas para profile proprio -->
    <div class="activity_component">
        {% if request.user == user %}
            {% include 'mainapp/component/activity_component.html' %}
        {% endif %}
    </div>
</div>
{% endblock body %}